<div class="call">
  <div class="call-box-top">
    {{ if .site.Data.contact.office }}
        <div class="call-phone"><strong>Office: </strong> {{ .site.Data.contact.office }} </div>
    {{ end }}
    {{ if .site.Data.contact.email }}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.Data.contact.email }}">
        {{ .site.Data.contact.email }}
      </a>
    </div>
    {{ end }}
  </div>
    {{ if eq .show_button "true" }}
      <div class="call-box-bottom">
        <a href="{{ .site.Data.contact.contact_button_link | relURL }}" class="button">Contact</a>
      </div>
    {{ end }}
</div>
