{{ define "body_classes" }}page-syllabus-single{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $syllabus := resources.Get "js/pages/syllabus.js" }}
{{ $syllabusJS := slice $library $syllabus |resources.Concat "js/syllabus.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $syllabusJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($syllabusJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
